<div class="pokemon-selection-page">
  <section class="intro-section">
    <div class="intro-section__back-wrapper">
      <div class="intro-section__text">
        <h1 class="intro-section__title"><strong>¡Hola, {{ trainerProfile?.name }}!</strong></h1>
        <button class="edit-profile-btn" (click)="editProfile()">
          <span class="material-icons">edit</span>
          Editar perfil
        </button>
      </div>
    </div>
  </section>

  <div class="main-content-wrapper">
    <aside class="trainer-profile-summary">
      @if (trainerProfile) {
      <div class="profile-card">
        <div class="profile-card-header">
          <h3 class="profile-card__title">Entrenador</h3>
          <img src="assets/logro.png" alt="logro" class="profile-card__logro-icon">
        </div>

        <div class="profile-image-container">
          @if (trainerProfile.profileImageUrl) {
          <img [src]="trainerProfile.profileImageUrl" alt="Foto de Perfil" class="profile-image">
          } @else {
          <span class="material-icons default-profile-icon">account_circle</span>
          }
        </div>
        <p class="profile-detail"><strong>Pasatiempo:</strong> {{ trainerProfile.hobby }}</p>
        <p class="profile-detail"><strong>Edad:</strong> {{ trainerProfile.age }} años</p>
        @if (trainerProfile.age >= 18){
        <p class="profile-detail"><strong>Documento:</strong> {{ trainerProfile.document }}</p>
        }
      </div>
      } @else {
      <p class="loading-text">Cargando perfil de entrenador...</p>
      }
    </aside>

    <main class="pokemon-summary-main">
      <div class="pokemon-header">
        <h2 class="summary-block__title">Mis Pokémon</h2>
        <button class="edit-pokemon-btn" (click)="editPokemon()">
          <span class="material-icons">edit</span>
          Editar
        </button>
      </div>

      <section class="pokemon-summary-grid-container">
        <div class="pokemon-summary-grid">
          @for (pokemon of selectedPokemonList; track pokemon.id) {
          <div class="pokemon-summary-card">
            <div class="pokemon-summary-left">
              <div class="pokemon-summary-image-wrapper">
                <img [src]="pokemon.imageUrl" [alt]="pokemon.name" class="pokemon-summary-image">
              </div>
              <h4 class="pokemon-summary-name">{{ pokemon.name | titlecase }}</h4>
              <div class="pokemon-summary-types">
                @for (type of pokemon.types; track type.name) {
                <span class="pokemon-summary-type {{ type.name | lowercase }}">{{ type.name | titlecase }}</span>
                }
              </div>
            </div>
            <div class="pokemon-summary-stats">
              @for (stat of pokemon.stats; track stat.name) {
              <div class="pokemon-summary-stat-item">
                <span class="pokemon-summary-stat-name">{{ stat.name | uppercase }}</span>
                <div class="pokemon-summary-stat-bar-container">
                  <div class="pokemon-summary-stat-bar {{ stat.name | lowercase }}"
                    [style.width.%]="(stat.value / 255) * 100"></div>
                </div>
              </div>
              }
            </div>
          </div>
          } @empty {
          <p class="loading-text">No has seleccionado ningún Pokémon.</p>
          }
        </div>
      </section>
    </main>
  </div>
</div>